@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-300px);
  }
  to {
    opacity: 1;
  }
}

#banner{
   animation: fadeInTop 2.3s ease-in-out;
}

@keyframes bouncing-loader {
  to {
    opacity: 1;
    transform: translate3d(0, 16px, 0);
  }
}

#bouncing-loader > div {
  margin: 3rem 0.2rem;
  animation: bouncing-loader 0.5s infinite alternate;
}


#bouncing-loader > div:nth-child(2){
   animation-delay: 0.2s;
}
#bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

#file_input[type="file"]{
  position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
#filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #272727;
    cursor: pointer;
    height: 35px;
    margin-left: 10px;
}
#filebox label:hover {
    background-color:#525053;
}
img{
    object-fit: cover;
}